$white: #FFFFFF;
$black: #000000;
$gray-200: #D7DDE9;
$gray-400: #E7EEFB;
$gray-500: #B0BBD1;
$blue-300: #53C0F0;
$blue-600: #0796D3;
$red-300: #F05353;
$red-600: #D30707;

$weight-400: 400;
$weight-500: 500;
$weight-600: 600;
$weight-700: 700;